global:
  domain: matrix.danielrunge.dk
  elementDomain: element.danielrunge.dk

synapse:
  storage:
    size: 10Gi
    storageClassName: ""
  image:
    repository: matrixdotorg/synapse
    tag: latest
    pullPolicy: IfNotPresent
  port: 8008
  replicas: 1
  recaptcha:
    siteKey: "" # overwritee from a .secrets.yaml not commited to git 
    secretKey: "" # overwritee from a .secrets.yaml not commited to git 
  registration_shared_secret: "" # overwritee from a .secrets.yaml not commited to git 


element:
  image:
    repository: vectorim/element-web
    tag: latest
    pullPolicy: IfNotPresent
  port: 80
  replicas: 1

