global:
  domain: matrix.danielrunge.dk
  elementDomain: element.danielrunge.dk

synapse:
  storage:
    size: 10Gi
    storageClassName: ""
  image:
    repository: matrixdotorg/synapse
    tag: latest
    pullPolicy: IfNotPresent
  port: 8008
  replicas: 1

element:
  image:
    repository: vectorim/element-web
    tag: latest
    pullPolicy: IfNotPresent
  port: 80
  replicas: 1

