global:
  domain: matrix.danielrunge.dk
  elementDomain: element.danielrunge.dk

synapse:
  storage:
    size: 10Gi
    storageClassName: ""
  image:
    repository: matrixdotorg/synapse
    tag: latest
    pullPolicy: IfNotPresent
  port: 8008
  replicas: 1

element:
  image:
    repository: vectorim/element-web
    tag: latest
    pullPolicy: IfNotPresent
  port: 80
  replicas: 1

coturn:
  realm: turn.danielrunge.dk
  relay_ip: 192.168.0.150 # internal IP of the cluster node
  turn_url: turn.danielrunge.dk
