apiVersion: v1
kind: ConfigMap
metadata:
  name: coturn-config
  namespace: matrix
data:
  turnserver.conf: |
    realm=matrix.danielrunge.dk
    server-name=turn.danielrunge.dk
    listening-ip=0.0.0.0
    relay-ip=192.168.0.150
    external-ip={{ .Values.coturn.public_ip_static }}
    listening-port=3478
    tls-listening-port=5349
    min-port=49160
    max-port=49200
    fingerprint
    use-auth-secret
    static-auth-secret={{ .Values.coturn.turn_shared_secret }}
    total-quota=100
    bps-capacity=0
    no-cli
    no-multicast-peers
    verbose
    log-file=stdout