apiVersion: v1
kind: ConfigMap
metadata:
  name: coturn-config
  namespace: matrix
data:
  turnserver.conf: |
    # Listening ports
    listening-port=3478

    # Credentials
    use-auth-secret
    static-auth-secret={{ .Values.coturn.turn_shared_secret }}
    lt-cred-mech

    # Realm & server name
    realm={{ .Values.coturn.realm}}
    server-name={{ .Values.global.domain }}

    # Network & relay
    listening-ip=0.0.0.0
    relay-ip={{ .Values.coturn.relay_ip }}
    external-ip={{ .Values.coturn.public_ip_static }}

    # Security
    no-loopback-peers
    no-multicast-peers

    # Port range for media relays
    min-port=49160
    max-port=49200

    # Logging
    log-file=stdout
    verbose
