apiVersion: v1
kind: ConfigMap
metadata:
  name: element-config
  namespace: matrix
data:
  config.json: |
    {
        "default_server_config": {
            "m.homeserver": {
                "base_url": "https://{{ .Values.global.domain }}",
                "server_name": "{{ .Values.global.domain }}"
            },
            "m.identity_server": {
                "base_url": "https://vector.im"
            }
        },
        "disable_custom_urls": false,
        "disable_guests": false,
        "disable_login_language_selector": false,
        "disable_3pid_login": false,
        "brand": "Element",
        "integrations_ui_url": "https://scalar.vector.im/",
        "integrations_rest_url": "https://scalar.vector.im/api",
        "integrations_widgets_urls": [
            "https://scalar.vector.im/_matrix/integrations/v1",
            "https://scalar.vector.im/api"
        ],
        "bug_report_endpoint_url": "https://rageshakes.element.io/api/submit",
        "defaultCountryCode": "GB",
        "show_labs_settings": false,
        "features": {},
        "default_federate": true,
        "default_theme": "light",
        "room_directory": {
            "servers": ["{{ .Values.global.domain }}"]
        },
        "enable_presence_by_hs_url": {
            "https://{{ .Values.global.domain }}": false
        },
        "setting_defaults": {
            "breadcrumbs": true
        },
        "jitsi": {
            "preferred_domain": "meet.element.io"
        }
    }
