apiVersion: v1
kind: ConfigMap
metadata:
  name: synapse-extra-config
data:
  synapse-extra-config.yaml: |
    enable_registration: true
    enable_registration_without_verification: true
    registration_shared_secret: "supersecretvalue"
