apiVersion: v1
kind: ConfigMap
metadata:
  name: synapse-extra-config
data:
  synapse-extra-config.yaml: |
    enable_registration: true
    enable_registration_without_verification: false
    enable_registration_captcha: true
    recaptcha_public_key: "{{ .Values.synapse.recaptcha.siteKey }}"
    recaptcha_private_key: "{{ .Values.synapse.recaptcha.secretKey }}"
    registration_shared_secret: "{{ .Values.synapse.registration_shared_secret }}"
    turn_uris:
      - "turn:{{ .Values.coturn.turn_url }}:3478?transport=udp"
      - "turn:{{ .Values.coturn.turn_url }}:3478?transport=tcp"
      - "turns:{{ .Values.coturn.turn_url }}:5349?transport=tcp"

    turn_shared_secret: "{{ .Values.coturn.turn_shared_secret}}"
    turn_user_lifetime: 86400000
    turn_allow_guests: true
    room_list_publication_rules:
      - action: allow
        user_id: '*'
        room_id: '*'
        alias: '*'
        require_admin: true